/* Default button style */
.button {
    -fx-background-color: #0480A9;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-alignment: center;
    -fx-user-select: none;
}

/* Hovered button style (overrides .button styles) */
.button-hovered {
    -fx-background-color: #005f7b;
}
